DATABASE_URL="mongodb+srv://pree:1234@cluster0.atowwan.mongodb.net/inventory_db?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET="qazwqssqssdrdtgfhhgsvgjhsdad"
JWT_EXPIRES_IN="24h"
PORT=3000
NODE_ENV="development"
